.login {
	background-color: #ADD8E6;
	width: 500px;
	height: 65px;
	border-radius: 7px;
	padding: 20px;
}

.registration {
	background-color: #ADD8E6;
	width: 500px;
	height: 350px;
	border-radius: 7px;
	padding: 20px;
}